<p id="notice"><%= notice %></p>

<p>
  <b>Index:</b>
  <%= @result.index %>
</p>

<p>
  <b>Show:</b>
  <%= @result.show %>
</p>

<p>
  <b>Update:</b>
  <%= @result.update %>
</p>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
