<p id="notice"><%= notice %></p>

<p>
  <b>Index:</b>
  <%= @search.index %>
</p>

<p>
  <b>Show:</b>
  <%= @search.show %>
</p>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
